div{
    height:400px;
    width:400px;

    border:2px solid darkred;

    background-color: pink;

    margin:100px auto;

    transition: 1s;

    transform: rotate(360deg);

    box-shadow: 10px 20px 20px lightcoral;

    text-align: center;
    font-weight: bold;
    font-family: "Courier New";

    color:darkred;
    text-decoration: red wavy underline;
}