#outer
{
    background-color: orange;
    border-radius: 50%;
    height:200px;
    width:200px;
}

#e1, #e2
{
    background-color: black;
    border-radius: 50%;
    height:30px;
    width:30px;  
    display:inline-block;
}

#e1{
    position:relative;
    top:40px;
    left:40px;
}

#e2{
    position:relative;
    top:40px;
    left:90px;
}

#mouth
{
    background-color:deeppink;
    height: 45px;
    width:100px;

    position:relative;
    top:75px;
    left:50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}
