#div1
{
    height:150px;
    width:300px;
    background-color: gray;
    border: 5px dotted black;
    margin-right:1em;
    margin-bottom:40px;
    margin-left:2em;
    padding:1em;
}

.divs
{
    height:100px;
    width:100px;
    background-color: pink;
    border-radius: 50%;
    border:2px solid black;
    display:inline-block;
}

.lis
{
    display:inline;
}