/* h2
{
    display:inline;
    background-color: aliceblue;
}

span
{
    display:block;
    background-color: yellowgreen;
} */

span
{
    background-color: lime;
    border: 2px solid black;
    height:100px;
    width:20px;

    padding:50px;
    margin:50px;
}

div
{
    border: 2px solid black;
    height:50px;
    width:50px;
    margin: 20px;
    padding:25px;
}