p{
    color:#a52a2a;
    font-family: Georgia;
    line-height:30px;
}

h1{
    text-align:center;
    color:red;
    font-family: Georgia;
}

h3{
    text-align:center;
    color:black;
    font-family: Georgia;
}

h4{
    text-align:center;
    font-family: Georgia;
}

a{
    color:rgb(0, 255, 0);
    text-decoration:none;
}

button{
    background-color: white;
    color:blue;
}

textarea{
    color:#000;
}

span{
    text-decoration: underline;
}