.container
{
    border:2px solid black;
    background-color:pink;

    height:600px;
    width:1300px;

    display:flex;
    justify-content:space-around;

    align-items:center;

    flex-wrap:wrap;
    
}

.items
{
    border:2px solid black;
    background-color:snow;

    height:50px;
    width:50px;

    
    
}

.i3
{
    /* flex-basis:100px; */
    flex-grow:5;  
}