#container
{
    border:2px solid black;
    height:600px;
    margin:10px auto;
    width:60%;
    background-color: azure;
    display:flex;
    flex-direction:row;
    /* align-items:center; */
    align-content: flex-start;
    flex-wrap: wrap;
}

h1{
    text-align: center;
}

#container div
{
    height:100px;
    width:300px;
    color:white;
    text-align:center;
    font-size: 1.5em;
}

#org
{
    align-self:flex-start;
    /* flex-basis: 20px; */
    /* flex-grow:1; */
    flex-shrink:1;
}